<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- {{}}绑定文本 -->
    <div id="app">
        {{ message }}
    </div>

    <!-- v-bind绑定DOM元素的属性 -->
    <div id="app-2">
        <span v-bind:title="message">鼠标悬停几秒查看此处动态绑定的提示信息！</span>
    </div>

    <!-- v-if绑定DOM的结构 -->
    <div id="app-3">
        <p v-if="seen">现在你看到我了吗？</p>
    </div>

    <!-- v-for -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text}}
            </li>
        </ol>
    </div>

    <!-- v-on -->
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click='reverseMessage'>逆转消息</button>
    </div>

    <!-- v-module -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message" type="text">
    </div>

    <!-- 组件 -->
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <!-- 模板语法 -->
    <span id="app-8">
        Message: {{ msg }}
    </span>
    <br>

    <!-- v-once -->
    <span id="app-8-1" v-once>
        This will never change: {{ msg }}
    </span>

    <!-- 绑定Class -->
    <div class="static" v-bind:class="{active: isActive,'text-danger':hasError}">
    </div>

    <!-- 可以将class绑定成数据里的一个对象 -->
    <div id="app-9">
        <div v-bind:class="classObject">
            这是一个用v-bind绑定数据里的对象的示例
        </div>
    </div>

    <!-- 绑定返回对象的计算属性 -->
    <div id="app-10">
        <div v-bind:class="classObject">
            这是一个用v-bind绑定数据里的对象的示例
        </div>
    </div>

    <!-- v-bind绑定一个数组 -->
    <div id="app-11">
        <div v-bind:class="[activeClass,errorClass]">
            v-bind绑定一个数组
        </div>
    </div>

    <div id="app-12">
        <div v-bind:style="styleObject">
            v-bind绑定一个数组
        </div>
    </div>


    <!-- v-for -->
    <ul id="app-13">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>

    <!-- 组件中data必须是函数 -->
    <div id="example-2">
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>

    <!-- 组件传递数据的动态prop -->
    <div id="example-3">
        <child message = "hello"></child>
    </div>


   <!-- 动态绑定prop -->
    <div id="example-4">
        <input v-model = "parentMsg">
        <br>
        <child v-bind:my-message="parentMsg"></child>
    </div>

    <input v-model = "message" placeholder="edit me">
    <p>Message is:{{message}}</p>



    <script src="./vue/vue.js"></script>
    <script src="vue.js"></script>
    <script src="vue1.js"></script>
</body>

</html>